* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.container {
  background-color: hsl(193, 100%, 96%);
  background-image: url(/images/bg-hero-desktop.svg);
  padding: 0.1em 1em;
  /* height: 80%; */
  /* height: 95vh; */
}

.first {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.1rem;
  /* background-color: red; */
}

.head {
  /* padding: 1.4em 4.2em; */
  padding: 0.8rem;
  margin: 1.3rem 0 0 0;
  /* background-color: red; */
}

.head2 {
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  margin: 0em 0.5em 0 2.2em;
}

.head img {
  object-fit: contain;
}

.head2 input {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: hsl(192, 100%, 9%);
  font-size: 1em;
  padding: 0.7em 3.5em;
  margin: 0 2.8em;
  border-radius: 4rem;
  border: none;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
}

.cont {
  display: flex;
  justify-content: space-between;
  justify-content:center;
  margin: 0 auto;
  font-size: 10px;
  padding: 1em;
  margin-top: 4em;
  /* background-color: red; */
}

.com {
  width: 40%;
  margin: 0 auto;
  /* background-color: red; */
}
.coming {
  /* background-color: aqua; */
  margin-top: 7.7rem;
}

.com h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.3em;
  text-transform: capitalize;
  font-weight: bold;
}

.com p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.03rem;
  font-weight: bolder;
  letter-spacing: 0.3px;
  color: hsl(208, 11%, 55%);
  line-height: 1.7rem;
}

.com input {
  background-color: white;
  border-radius: 30px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.3em;
  padding: 1.35em 4em;
  font-weight: bold;
  margin-top: 1em;
  letter-spacing: 0.085em;
}

.pic {
  width: 50%;
  /* justify-content: flex-end; */
  /* padding: 1em 1em 1em 10em; */
  /* align-items: center; */
}
.pic img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cont {
    flex-direction: column;
  }
  .com{
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .com p{
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .com input{
    font-size: 1.7em;
  }
  .coming{
    margin: 0 auto;
  }
  .pic{
    width: 80%;
    margin: 0 auto;
  }
  .head2 input {
    font-size: 0.8em;
    margin: 0;
  }
  .head2 img {
    width: 40%;
  }
  .head2 {
    margin: 0;
  }
}

@media screen and (max-width: 458px){
  .com h2{
    font-size: 1.5rem;
  }
  .com p{
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .com input{
    font-size: 1em;
  }
}

.second {
  width: 90%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
  /* background-color: blue; */
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
}

.pic2 {
  /* background-color: red; */
  width: 35%;
  margin: 1em 0;
}

.pic2 img {
  width: 100%;
  /* object-fit: contain; */
}

.scroll {
  /* background-color: aqua; */
  width: 50%;
  /* margin: 0 auto; */
}
.inn {
  /* background-color: beige; */
  width: 80%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: hsl(208, 11%, 55%);
  letter-spacing: 0.06rem;
}

.inn h2 {
  text-transform: capitalize;
  color: hsl(192, 100%, 9%);
}

.inn p {
  font-size: 0.95rem;
  line-height: 1.3rem;
}

.flex-cont {
  margin-top: 7rem;
}

.flex-inner {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .flex-inner {
    flex-direction: column-reverse;
  }

  .pic2 {
    width: 100%;
  }
  .scroll {
    width: 100%;
    text-align: center;
  }

  .inn p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    letter-spacing: 0.068rem;
  }
}

.third {
  width: 50%;
  margin: 0 auto;
  /* margin-top: 2rem; */
  border-radius: 1.5rem;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 3em 0;
  z-index: 2;
  background-color: white;
}

.space {
  margin-top: 6em;
  /* background-color: blue; */
  position: relative;
  top: 75px;
}

.third input {
  background-color: white;
  border-radius: 100px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  padding: 1.35em 4.5em;
  font-weight: bold;
  /* margin-top: 1em; */
  letter-spacing: 0.085em;
}

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  z-index: -1;
}

.foot {
  width: 80%;
  margin: 0 auto;
  padding: 6em 0;
}

.last {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: aqua; */
}

.last--first {
  width: 30%;
  /* background-color: red; */
  padding: 0 1.5rem;
}
.hud{
  width: 60%;
  background-color: red;
}
.hud img{
  width: 100%;
}
.last--first img {
  /* width: 100%; */
  /* object-fit: cover; */
  /* background-color:black; */
}

.last--sec {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  width: 60%;
  /* background-color: bisque; */
  margin: 2.2rem;
}

.local {
  padding-top: 0;
  /* background-color: red; */
}

.row {
  display: flex;
  /* background-color: black; */
  padding: 0.8rem 0;
}
.row img {
  justify-content: flex-start;
  /* background-color: red; */
}

.row p {
  margin-left: 1rem;
}

.sid {
  margin-left: 1.3rem;
}

.fo {
  /* background-color: black; */
}

.fo ul {
  list-style: none;
}

.fo ul li {
  padding: 0.7rem 0;
}
.fo img {
  padding: 2rem 0.2rem;
}

.cen{
  display: flex;
}

@media screen and (max-width: 768px) {
  .last{
    font-size: 1.5rem;
  }
  .third{
    width: 90%;
    /* padding: 1.5em 0; */
  }

  .last{
    flex-direction: column;
  }
  .last--first{
    width: 100%;
  }
  .last--sec{
    width: 100%;
    flex-direction: column;
    margin: -15px;
  }
  .cen{
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
  }
  .cen img{
    margin: 0 .8rem;
    width: 100%;
     padding: 0 .8rem;
  }
}

@media screen and (max-width: 458px){
  .third input{
    font-size: 0.6rem;
    padding: 1.35em 3em;
  }
  .third h2{
    font-size: 1rem;
  }
  .head2 input{
    font-size: .7em;
    padding: 0.7em 2.5em;
  }
  .last{
    font-size: .8rem;
  }
}